{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Latest Movies & Honest Reviews</title>
    <link rel="stylesheet" href="{% static 'blog/css/login.css' %}">
</head>
<body>
<div class="auth-container">
    <h1 class="auth-title">Login to Movie Reviews</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

   <p>
    <a href="{% url 'password_reset' %}" class="forgot-link">Forgot your password?</a>
</p>

</div>
</body>
</html>